.register-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    background:  crimson;
    height: 100vh;
  
}

.register-inner {
    background: white;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 70%;
    border-radius: 3rem;
}

.register-inner h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.register-box {
    margin-bottom: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-inner .btn-submit {
    width: 50%;
    height: 50px;
    align-items: center;
    padding: 10px;
    border-radius: 1;
    text-align: center;
    background-color: lightblue;
    border-radius: 1rem;
    justify-content: center;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
}

.register-box input {
    padding: 3px;
    border: 1.5px solid black;
    border-radius: 1rem;
}

.register-inner p{
    text-align: center;
    margin-bottom: 1rem;
}

.buttons {
    text-align: center;
}

.btn-login { 
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    justify-content: center;
    width: 50%;
    border-radius: 1rem;
    font-size: 1.5rem;
    height: 50px;
}